# Copyright (c) 2017-present Sonatype, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: '3'

services:
  nginx-proxy:
    build: ./nginx
    ports:
      - '443:443'
      - '5000:5000'
    links:
      - nexus-repository
    command: [ nginx, '-g', 'daemon off;' ]

  nexus-repository:
    image: sonatype/nexus3
    volumes:
      - 'nexus-data:/nexus-data'

volumes:
  nexus-data: